@font-face {
    font-family: "Hubot-Sans";
    src: url("/fonts/Hubot Sans/Hubot-Sans.woff2") format('woff2');
}
@font-face {
    font-family: "Mona-Sans";
    src: url("/fonts/Mona Sans/Mona-Sans.woff2") format('woff2');
}

body {
    font-family: 'Mona-Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    word-break: break-word;
    background: var(--theme);
}

.post-title {
    font-family: 'Hubot-Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo a {
    font-family: 'Hubot-Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.entry-header {
    font-family: 'Hubot-Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}